{% extends 'common/common_template.html' %}
{% block content %}
  <h1>Сайт: {{ url.name }}</h1>
  <table class="table table-bordered table-striped" data-test="url">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <td>{{ url.id }}</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="col">Имя</th>
        <td>
          <a href="{{ url_for('urls.get_url', url_id=url.id) }}">{{ url.name }}</a>
        </td>
      </tr>
      <tr>
        <th scope="col">Дата создания</th>
        <td>{{ url.created_at }}</td>
      </tr>
    </tbody>
  </table>
  <h2 class="pt-5">Проверки</h2>
  <form class="row g-2 pt-2 pb-2"
        action="{{ url_for('urls.url_checks.create_url_check', url_id=url.id) }}"
        method="post">
    <div class="col-auto">
      <button class="btn btn-primary form-control text-bg-primary" type="submit">Запустить проверку</button>
    </div>
  </form>
  <table class="table table-bordered table-striped" data-test="checks">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Код ответа</th>
        <th scope="col">h1</th>
        <th scope="col">title</th>
        <th scope="col">description</th>
        <th scope="col">Дата создания</th>
      </tr>
    </thead>
    <tbody>
      {% for check in url.checks %}
        <tr>
          <td class="text-break">{{ "" if check.id is none else check.id }}</td>
          <td class="text-break">{{ "" if check.status_code is none else check.status_code }}</td>
          <td class="text-break">{{ "" if check.h1 is none else check.h1 }}</td>
          <td class="text-break">{{ "" if check.title is none else check.title }}</td>
          <td class="text-break">{{ "" if check.description is none else check.description }}</td>
          <td class="text-break">{{ "" if check.created_at is none else check.created_at }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
