{% extends 'common/common_template.html' %}
{% block content %}
  <h1>Сайты</h1>
  {% if urls %}
    <table data-test="urls" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Имя</th>
          <th scope="col">Последняя проверка</th>
          <th scope="col">Код ответа</th>
        </tr>
      </thead>
      <tbody>
        {% for url in urls %}
          <tr>
            <td>{{ url.id }}</td>
            <td class="text-break">
              <a href="{{ url_for('urls.get_url', url_id=url.id) }}">{{ url.name }}</a>
            </td>
            <td>{{ "" if url.last_check is none else url.last_check }}</td>
            <td>{{ "" if url.status_code is none else url.status_code }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endblock %}
